body, html {
    height: 100%;
    width: 100%;
    background-color: #efeff0;
}

h1 {
    margin-left: 30px 0;
}

.nav-group {
    background-color: #054082;
    height: 80px;
    border-bottom: 1px solid rgba(70, 140, 207, 0.5);
}

.section-upload-btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #054082;
    color: white;
    margin-right: 30px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

img {
    width: 80px;
}

tbody>tr:hover {
    background-color: #054082;
    color: white;
    opacity: 0.8;
}

.vertical-page-style {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
    animation-name: appearPage;
    animation-duration: 2s;
    max-width: 400px;
}

@keyframes appearPage {
    from {
        width: 0;
    }
    to {
        width: 400px;
      
    }
}