body, html {
    height: 100%;
    width: 100%;
    background-color: #efeff0;
}

h1 {
    margin-left: 30px 0;
}

.nav-group {
    background-color: #054082;
    height: 80px;
    border-bottom: 1px solid rgba(70, 140, 207, 0.5);
}

.section-upload-btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #054082;
    color: white;
    margin-right: 30px;
    border-radius: 13%;
    -webkit-border-radius: 13%;
    -moz-border-radius: 13%;
    -ms-border-radius: 13%;
    -o-border-radius: 13%;
}

img {
    width: 80px;
}

.tr-style:hover {
    background-color: #054082;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.disable-hover {
    pointer-events: none;
}

.vertical-page-body {
    overflow: auto;
    height: 90%;
}

.overlay-page-style {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.vertical-page-style {
    overflow: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
    animation-name: appearPage;
    animation-duration: 1s;
    max-width: 500px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vertical-page-hide>* {
    display: none;
}

@keyframes appearPage {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}

.vertical-header {
    background-color: #054082;
    width: 1005;
    height: 80px;
    color: aliceblue;
    text-align: center;
}

.vertical-page-body::-webkit-scrollbar {
    width: 10px;
}

.vertical-page-body::-webkit-scrollbar-thumb {
    /* background: #FEC529; */
    background-color: #054082;
}

.btn-cancel {
    color: #054082;
    border-color: #04254b;
    background-color: white;
    margin-right: 30px;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}