body, html {
    height: 100%;
    background-color: #efeff0;
}
.nav-group {
    background-color: #054082;
    height: 80px;
    border-bottom: 1px solid rgba(70, 140, 207, 0.5);
}

img{
    width: 80px;
}

tbody>tr:hover{
    background-color: #054082;
    color: white;
    opacity: 0.8;
}