.nav-group {
    background-color: #054082;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    font-family: Helvetica;
}

.navbar-brand {
    font-size: x-large;
}

.nav-item>a {
    color: white;
    font-size: large;
    margin: 0 14px;
    padding: 10px;
}

.nav-item>a:hover {
    color: black;
    background-color: white;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.login {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}