.nav-group {
    background-color: #054082;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: Helvetica;
}

.navbar-brand {
    font-size: x-large;
}

.nav-item>a {
    color: white;
    font-size: large;
    padding: 10px 0;
}

.nav-item {
    margin: 0 20px;
    padding: 10px;
}

.nav-item>a:hover {
    padding: 10px 0;
    color: black;
    background-color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

