.nav-group {
    background-color: #054082;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: Helvetica;
    width: 100%;
   z-index:  1;
}

.navbar-brand {
    font-size: x-large;
    margin-left: 20px;
}

.navbar-collapse>ul {
    background-color: #054082;
}
.container-fluid{
 padding-left: 0;
 padding-right: 0;   
}

.nav-item>a {
    display: flex;
    align-items: center;
    font-size: large;
    padding: 10px 0;
}

.nav-item {
    margin: 0 5px;
    box-shadow: none;
}

.nav-link {
    color: white;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0px 0px 2px 1px whitesmoke;
}
/*
7.- 
8.- arreglar el bug, sobreponer la barra, puestoque queda abajo de cualquier elemento en el body */
.nav-link:hover  {
    color: black;
    background-color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.nav-link:hover span{
    color: rgb(7, 7, 7);
}

.dropdown>a {
    border-radius: 5px;
    font-size: large;
  
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.dropdown>a:hover {
    border-radius: 5px;
    font-size: large;
   background-color: white;
    color: rgb(0, 0, 0);
    
}
.dropdown:hover span{
    color: black;
    background-color: white;
}


.material-icons {
    margin: 0 5px;
    color: #ffffff;
}