body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F2F7FF;
    padding: 0;
}

.vertical-nav {
    height: 100vh;
}

.navbar-collapse{
    width: 100%;
}
.icon-perfil {
    width: 16px;
    height: 20px;
}

.nav-item>a:hover {
    background-color: #dadada;
}