body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F2F7FF;
    padding: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-item>a:hover {
    color: rgb(0, 0, 0);
}

.vertical-nav {
    background-color: #054082;
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.page-content {
    width: calc(100% - 14rem);
    margin-left: 14rem;
}

.nav-link>span {
    margin-right: 6px;
}

.nav-item>a {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.card-info {
    max-width: 210px;
    margin: 5px 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    outline: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.icon>span {
    color: white;
    border-radius: 8px;
    padding: 15px;
    margin-right: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}